<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/login.css' />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>


<body style="background-color: #1f3750">
    <div class="container login-page">
      <div class="card text-center">
        <div class="card-header">
            CONFIRM REGISTRATION
        </div>

        <div class="view" id="confirm-page">
          <div class="card-body">
            <div class="login-body-top">
              <p>Thank you for registering. We have sent a confirmation code at the provided email. Please check the email and enter the code.</p>
            </div>
            <form action="/auth/check" class="login-form" method="post">
              <div class="form-group">
                <label for="code">Code</label>
                <input
                  type="text"
                  class="form-control"
                  id="code"
                  name="confirmCode"
                  required
                />
                <input
                  type="hidden"
                  id="code"
                  name="email"
                  value="<%=email%>"
                />
              </div>
              <div class="button-div">
                <input
                  class="btn btn-outline-primary login-btn"
                  type="submit"
                  value="Confirm"
                />
              </div>
            </form>
          </div>
        </div>
        <p class="acc-check">
          Don't have an account?
          <a href="/signup" style="color: #04a4e4">Sign Up</a>
        </p>
      </div>
    </div>

   
  </body>

</html>
